<ion-header>
  <ion-navbar>
    <ion-title>{{company.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row align-items-center *ngIf="gifts.length > 0">
    <ion-col col-6 *ngFor="let gift of gifts">
      <ion-card (click)="openNavDetailsPage(gift)" class="reward-card">
        <img src="{{gift.image}}" alt="">
        <ion-card-header>{{ gift.title }}</ion-card-header>
        <ion-card-content>Points: {{ gift.points }}</ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-list-header *ngIf="gifts.length === 0" text-center>
    <p>This company has no gift options</p>
  </ion-list-header>
</ion-content>
